<?xml version="1.0" encoding="GB18030"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <filter>
  	<filter-name>struts2</filter-name>
  	<filter-class>
  		org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter
  	</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>struts2</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description>购物车删除</description>
    <display-name>购物车删除ss</display-name>
    <servlet-name>gouwucheSanchu</servlet-name>
    <servlet-class>sevrlet.gouwucheSanchu</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>gouwucheSanchu</servlet-name>
    <url-pattern>/gouwucheSanchu</url-pattern>
  </servlet-mapping></web-app>
